<footer id="footer" class="sixteen columns" data-hook>

  <div id="footer-right" class="columns omega eight" data-hook>
  	<div class="contact">
  		<h3>יש לך שאלה? <br />כתוב לנו ונשמח לעמוד לשירותך</h3>
  		<form accept-charset="UTF-8" action="/contacts" class="new_contact_us_contact" id="footer_new_contact_us_contact" method="post" novalidate="novalidate">
          <div >
              <input name="utf8" type="hidden" value="✓">
              <input name="authenticity_token" type="hidden" value="jFC+5i8TaZdIlepZenmtWzfw5fCTOA+C9wDrRmz32CQ=">
          </div>
          <p>
              <input class="required" id="footer_contact_us_contact_name" name="contact_us_contact[name]" type="text" placeholder="שם מלא:">
          </p>
          <p>
              <input class="required email" id="footer_contact_us_contact_email" name="contact_us_contact[email]" type="email" placeholder="מייל:">
          </p>
          <p>
              <textarea class="required" id="footer_contact_us_contact_message" name="contact_us_contact[message]" placeholder="תוכן ההודעה:"></textarea>
          </p>
          <p class='btn'>
              <input alt="Submit" id="footer_contact_us_contact_submit" name="commit" title="Submit" type="submit" value="שלח פנייה">
              <i class="fa fa-angle-double-left"></i>
          </p>
      </form>
  	</div>
  </div>

  <div id="footer-left" class="columns alpha eight" data-hook>
  	<div class="footer_nav">
  		<h3>מפת ניווט לאתר</h3>
  		<ul>
  			<li><a href="/">דף הבית</a></li>
  			<li><a href="/account">מעקב הזמנות</a></li>
  			<li><a href="/about">אודות</a></li>
  			<li><a href="http://www.moas-gas.com/#!services/mainPage">אתר הבית שלנו</a></li>
  			<li><a href="/">תקנון</a></li>
  			<li><a href="/login">הרשמה לאתר</a></li>
  		</ul>
  	</div>

  	<div class="footer_categories">
  		<h3>קטגוריות</h3>
  		<ul>
  			<li><a href="/products/gaslevel-classic">GASLEVEL CLASSIC</a></li>
  			<li><a href="/products/gaslevel-stick">GASLEVEL STICK</a></li>
  			<li><a href="/new">GASLEVEL WITH EXTERNAL DISPLAY</a></li>
  		</ul>
  	</div>

  	<div class="contact_info">
  	  	<a class="icon fb" href="https://www.facebook.com/lagas.co.il">facebok</a>
  		<a class="icon yt" href="https://www.youtube.com/watch?v=kQ6ImO5VYXw">youtube</a>
  		<p>כתובתינו: רמת ישי, ת.ד 1131 , טלפון: 052-457-2703</p>
  		<p>מייל לפניות: <a href="mailto:otn.moas@gmail.com">otn.moas@gmail.com</a></p>
  	</div>

  </div>

  <div class="logo_ref">
    <a class="powerby" href="pikko.net">
      <img src="/images/powerby_pikkonet.png" alt="WWW.PIKKO.NET">
    </a>    
  </div>
</footer>
