<div class="homepage">
	<div class="big_slider"></div>
	
	<h1>Your slider goes here!!</h1>

	<ul class="items">
		<li class="main_item1">
			<a>
				<h3>GASLEVEL STICK</h3>
				<p>מעוצב בצורת עט. <br />
				מציין את רמת הגז במיכל ע”י לחיצת העט <br />
				על גוף המיכל. <br />
				מתאים לכלל הצרכנים, <br />
				מהפרטי עד המסחרי, <br />
				אשר משתמשים בגז גפ”מ במיכלים.</p>
				<span>קרא עוד  ></span>
			</a>
		</li>
		<li class="main_item2">
			<a>
				<h3>GASLEVEL STICK</h3>
				<p>מעוצב בצורת עט. <br />
				מציין את רמת הגז במיכל ע”י לחיצת העט <br />
				על גוף המיכל. <br />
				מתאים לכלל הצרכנים, <br />
				מהפרטי עד המסחרי, <br />
				אשר משתמשים בגז גפ”מ במיכלים.</p>
				<span>קרא עוד  ></span>
			</a>
		</li>
		<li class="main_item3">
			<a>
				<h3>GASLEVEL STICK</h3>
				<p>מעוצב בצורת עט. <br />
				מציין את רמת הגז במיכל ע”י לחיצת העט <br />
				על גוף המיכל. <br />
				מתאים לכלל הצרכנים, <br />
				מהפרטי עד המסחרי, <br />
				אשר משתמשים בגז גפ”מ במיכלים.</p>
				<span>קרא עוד  ></span>
			</a>
		</li>
	</ul>

	<div class="bottom_wrapper">
		<div class="right">
			<h3>תקנים</h3>
			<p>המוצרים עומדים בהנחיית האיחוד האירופאי <br />
			EMC 2004/108/EC מתאימים לשימוש <br />
			 באטמוספרות נפיצות (EX* 11 3 Ex nA HA T3) <br />
			 בתעשייה.</p>
			<span>תוצרת גרמניה.</span>
		</div>
		<div class="left">
			<h3>כותרת הכתבה</h3>
			<p>סת אלמנקום ניסי נון ניבאה. דס איאקוליס וולופטה דיאם. וסטיבולום אט דולור, קראס אגת לקטוס <br />
			 וואל אאוגו וסטיבולום סוליסי טידום בעליק. <br />
			 תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור <br />
			 ליאמום בלינך רוגצה. לפמעט מוסן מנת. גולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, <br />
			 ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - <br />
			 לתכי מורגם בורק? גולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט ליבם סולגק. <br />
			 בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק?</p>
			<span>לכתבה המלאה ></span>
		</div>
	</div>	
</div>


