<div class="homepage">
	<div class="big_slider"></div>
	
	<div class="slider-wrapper">
        <div id="slider">
            <div class="slide1">
                <img src="/images/slider1.jpg" alt="" />
            </div>
            <div class="slide2">
                <img src="/images/slider2.jpg" alt="" />
            </div>
            <div class="slide3">
                <img src="/images/slider3.jpg" alt="" />
            </div>
            <div class="slide4">
                <img src="/images/slider4.jpg" alt="" />
            </div>
        </div>
        <div id="slider-direction-nav"></div>
        <div id="slider-control-nav"></div>
    </div>


	<ul class="items">
		<li class="main_item1">
			<a href="/products/gaslevel-classic">
				<h3>GAS LEVEL CLASSIC</h3>
				<p>נצמד על ידי מגנט 	<br />
				מציין את רמת הגז במיכל 	<br />
				פרקטי ומתאים לכלל הצרכנים	<br />
				מיועד גם לאזורי עבודה רגישים מאוד	<br />
				מיוצר ב Iserlohn / גרמניה</p>
				<span>קרא עוד  ></span>
			</a>
		</li>
		<li class="main_item2">
			<a href="/products/gaslevel-stick">
				<h3>GASLEVEL STICK</h3>
				<p>מעוצב בצורת עט. <br />
				מציין את רמת הגז במיכל ע”י לחיצת העט <br />
				על גוף המיכל. <br />
				מתאים לכלל הצרכנים, <br />
				מהפרטי עד המסחרי, <br />
				אשר משתמשים בגז גפ”מ במיכלים.</p>
				<span>קרא עוד  ></span>
			</a>
		</li>
		<li class="main_item3">
			<a href="/new">
				<h3>GASLEVEL WITH EXTERNAL DISPLAY</h3>
				<p><b>בקרוב באתר</b></p>
			</a>
		</li>
	</ul>

	<div class="bottom_wrapper">
		<div class="right">
			<h3>תקנים</h3>
			<p>המוצרים עומדים בהנחיית האיחוד האירופאי <br />
			EMC 2004/108/EC מתאימים לשימוש <br />
			 באטמוספרות נפיצות (EX* 11 3 Ex nA HA T3) <br />
			 בתעשייה.</p>
			<span>תוצרת גרמניה.</span>
		</div>
		<div class="left">
			<h3>כותרת הכתבה</h3>
			<p>ה gaslevel נבדק על ידי  PROMOBIL מגזין פופולרי באירופה.<br />
			Promobil מגזין נסיעות הפופולרי ביותר באירופה בדק את GASLEVEL  גם לקח חלק במבחן יחסי בין כמה מיכלי גז אלומיניום ופלדה .<br />
			הgaslevel זכה במקום הראשון. לכתבה המלאה בגרמניה <a href="http://www.gaslock.com/assets/Uploads/News/promobil-Test-Fuellstandsanzeiger-10-2013.pdf">לחצו כאן</a></p>
 			</p>
		</div>
	</div>	
</div>


